@import url(https://fonts.googleapis.com/css?family=Impact&amp;display=swap);

//--------------------------------------------------
//Variables

$brochure-green: #4a6446 !default;
$brochure-yellow: #ffe1aa !default;
$brochure-tan: #fffaee !default;
$brochure-grey: #36454F !default;
$brochure-bluegrey: #d5d9df !default;

$blog-teal: #83bbe0 !default;
$blog-grey: #d4d4d4 !default;
$blog-charcoal: #36454F !default;
$blog-blue: #2B65EC !default;
$blog-shaddow: rgb(20, 20, 20) !default;

//--------------------------------------------------
//heading and site title

.heading {
  color: white;
  text-shadow: 1px 1px 5px $blog-shaddow;
}

.site-title {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin: 3rem 0;
  text-shadow: 1px 1px 5px $blog-shaddow;
}

//--------------------------------------------------
//Nav

.nav-links { //this is the nav container
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: end;
  align-content: center;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: $brochure-green;
  font-size: 1.5rem;
  font-family: "Impact";
}

.nav-background {
  background-color: $brochure-bluegrey;
}

//--------------------------------------------------
//Footer

.footer-background {
  background-color: $brochure-bluegrey;
}

//--------------------------------------------------
//Heights & Widths

//--------------------------------------------------
//Wrapper

.wrapper-fullpagesize-nopadding {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.wrapper-addpadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper-pagewidth {
  max-width: 650px;
  margin: 0 auto;
}

.site-default-font {
  font-family: sans-serif;
}

//--------------------------------------------------
//Containers

.container-general-row {
  display: flex;
}

.container-general-col {
  display: flex;
  flex-direction: column;
}

.container-bottom-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.flexcontainer-center-leftright {
  display: flex;
  flex-direction: row; //this is default
  //flex-wrap: no-wrap; //this is default
  justify-content: center;
}

.flexcontainer-center-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.flexcontainer-center-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
}

.flexcontainer-center-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
}

.text-align-center {
  text-align: center;
}

//--------------------------------------------------
//Stretch and Grow

.flexgrow1 {
  flex-grow: 1;
}

//--------------------------------------------------
//borders

.red-find-border {
  border: 2px solid red;
}

.white-border {
  border: 2px solid white;
}

//--------------------------------------------------
//Fonts

.font-impact {
  font-family: "Impact";
}

//--------------------------------------------------
//Text styles

.wht-shadow {
  text-shadow: 0px 0px 5px white;
}

.red-text {
  color: red;
}

//--------------------------------------------------
//other custom sections

.background {
  background-color: $brochure-yellow;
}

.center-column {
  background-color: $brochure-tan;
  padding: 50px;
  min-height: 75vh;
  //box-shadow: 5px 5px 5px $blog-shaddow;
}

h1, h2 {
  color: $brochure-green;
}

p, li {
  color: black;
}

a {
  color: $blog-blue;
}

.container-showcased-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 2px solid $brochure-green;
  border-radius: 10px;
  background-color: $brochure-yellow;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 5px $blog-shaddow;
  min-width: 150px;
}

.image-radius {
  border-radius: 20px;
}
